name: Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - main

jobs:
  testing:
    name: ${{ format('Testing {0}', matrix.CXX) }}
    runs-on: ubuntu-latest
    container: santiagonar1/cpp-dev:latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - CXX: clang++
            CC: clang
            CONAN_PROFILE: clang
          - CXX: g++
            CC: gcc
            CONAN_PROFILE: gcc
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Generate build directory
        run: mkdir -p build

      - name: Configure
        working-directory: build
        env:
          CXX: ${{ matrix.CXX }}
          CC: ${{ matrix.CC }}
          PROFILE: "/root/.conan2/profiles/${{ matrix.CONAN_PROFILE }}"
        run: |
          cmake -DCMAKE_PROJECT_TOP_LEVEL_INCLUDES=conan_provider.cmake -DCONAN_HOST_PROFILE=${{ env.PROFILE }} -DCONAN_BUILD_PROFILE=${{ env.PROFILE }} ..

      - name: Compile
        working-directory: build
        run: cmake --build .

      - name: Run tests
        working-directory: build
        run: ctest --output-on-failure --timeout 5